In [1]:
import pandas as pd

In [2]:
sales = pd.read_excel("D:\Data Analyst\Sales.xlsx")

In [3]:
display (sales)

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
0,2013-11-26,26,November,2013,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
1,2015-11-26,26,November,2015,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
2,2014-03-23,23,March,2014,49,Adults (35-64),M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,23,45,120,1366,1035,2401
3,2016-03-23,23,March,2016,49,Adults (35-64),M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,20,45,120,1188,900,2088
4,2014-05-15,15,May,2014,47,Adults (35-64),F,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,4,45,120,238,180,418
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113031,2016-04-12,12,April,2016,41,Adults (35-64),M,United Kingdom,England,Clothing,Vests,"Classic Vest, S",3,24,64,112,72,184
113032,2014-04-02,2,April,2014,18,Youth (<25),M,Australia,Queensland,Clothing,Vests,"Classic Vest, M",22,24,64,655,528,1183
113033,2016-04-02,2,April,2016,18,Youth (<25),M,Australia,Queensland,Clothing,Vests,"Classic Vest, M",22,24,64,655,528,1183
113034,2014-03-04,4,March,2014,37,Adults (35-64),F,France,Seine (Paris),Clothing,Vests,"Classic Vest, L",24,24,64,684,576,1260
113035,2016-03-04,4,March,2016,37,Adults (35-64),F,France,Seine (Paris),Clothing,Vests,"Classic Vest, L",23,24,64,655,552,1207

In [4]:
total_revenue = sales["Revenue"].sum()

In [5]:
print (total_revenue)

85271008

In [6]:
total_cost = sales["Cost"].sum()

In [7]:
print(total_cost)

53049908

In [8]:
total_profit= sales["Profit"].sum()

In [9]:
print(total_profit)

32221100

In [10]:
revenue_by_country = sales[["Country", "Revenue"]].groupby("Country").sum()

In [11]:
display (revenue_by_country)

                 Revenue
Country
Australia       21302059
Canada           7935738
France           8432872
Germany          8978596
United Kingdom  10646196
United States   27975547

In [12]:
product_by_country = sales[["Country", "Sub_Category", "Revenue", ]].groupby(["Country", "Sub_Category"]).sum()

In [13]:
display(product_by_country)

                                 Revenue
Country       Sub_Category
Australia     Bike Racks           63585
              Bike Stands          93945
              Bottles and Cages   262153
              Caps                100889
              Cleaners             45616
...                                  ...
United States Shorts              868740
              Socks                58843
              Tires and Tubes    1574393
              Touring Bikes      2330196
              Vests               320729

[102 rows x 1 columns]

In [14]:
pd.set_option("display.max_rows", None)

In [15]:
display(product_by_country)

                                   Revenue
Country        Sub_Category
Australia      Bike Racks            63585
               Bike Stands           93945
               Bottles and Cages    262153
               Caps                 100889
               Cleaners              45616
               Fenders              178713
               Gloves               162903
               Helmets             1025396
               Hydration Packs      237488
               Jerseys              816339
               Mountain Bikes      5413747
               Road Bikes         10094543
               Shorts               228426
               Socks                 27547
               Tires and Tubes      839509
               Touring Bikes       1444528
               Vests                266732
Canada         Bike Racks           100656
               Bike Stands           35412
               Bottles and Cages    199630
               Caps                  66156
               Cleaners              30851
               Fenders              259208
               Gloves               154600
               Helmets              754569
               Hydration Packs      157088
               Jerseys              566425
               Mountain Bikes      1270946
               Road Bikes          2509887
               Shorts               435836
               Socks                 27111
               Tires and Tubes      745526
               Touring Bikes        494170
               Vests                127667
France         Bike Racks            41775
               Bike Stands           28359
               Bottles and Cages    116477
               Caps                  55610
               Cleaners              10749
               Fenders               61806
               Gloves                64609
               Helmets              601948
               Hydration Packs       69772
               Jerseys              412346
               Mountain Bikes      2083968
               Road Bikes          3460617
               Shorts                99447
               Socks                  7247
               Tires and Tubes      457167
               Touring Bikes        779540
               Vests                 81435
Germany        Bike Racks            51477
               Bike Stands           28599
               Bottles and Cages    142673
               Caps                  67937
               Cleaners              13684
               Fenders               92482
               Gloves                63372
               Helmets              662913
               Hydration Packs       54466
               Jerseys              394798
               Mountain Bikes      2330372
               Road Bikes          3543905
               Shorts                19359
               Socks                  9869
               Tires and Tubes      502524
               Touring Bikes        918505
               Vests                 81661
United Kingdom Bike Racks            47113
               Bike Stands           42284
               Bottles and Cages    166892
               Caps                  88603
               Cleaners              19030
               Fenders               94655
               Gloves                94738
               Helmets              838222
               Hydration Packs      113044
               Jerseys              556543
               Mountain Bikes      2804853
               Road Bikes          3723533
               Shorts                88902
               Socks                 16554
               Tires and Tubes      551783
               Touring Bikes       1328608
               Vests                 70839
United States  Bike Racks           213194
               Bike Stands          115476
               Bottles and Cages    521349
               Caps                 169582
               Cleaners              78891
               Fenders              558869
               Gloves               331197
               Helmets             1858033
               Hydration Packs      358548
               Jerseys             1367291
               Mountain Bikes      7219640
               Road Bikes         10030576
               Shorts               868740
               Socks                 58843
               Tires and Tubes     1574393
               Touring Bikes       2330196
               Vests                320729

In [16]:
revenue_by_age = sales[["Age_Group", "Revenue", ]].groupby("Age_Group").sum()

In [17]:
display(revenue_by_age)

                       Revenue
Age_Group
Adults (35-64)        42584153
Seniors (64+)           308042
Young Adults (25-34)  30655614
Youth (<25)           11723199

In [18]:
revenue_by_gender = sales[["Customer_Gender", "Revenue", ]].groupby("Customer_Gender").sum()

In [19]:
display(revenue_by_gender)

                  Revenue
Customer_Gender
F                41935599
M                43335409

In [20]:
revenue_by_age_and_country = sales[["Age_Group","Country", "Revenue", ]].groupby(["Age_Group", "Country"]).sum()

In [21]:
display(revenue_by_age_and_country)

                                      Revenue
Age_Group            Country
Adults (35-64)       Australia        9300875
                     Canada           4409508
                     France           3621554
                     Germany          4084350
                     United Kingdom   5208962
                     United States   15958904
Seniors (64+)        Australia          55051
                     Canada             40582
                     France             13979
                     Germany            28628
                     United Kingdom     38738
                     United States     131064
Young Adults (25-34) Australia        7919296
                     Canada           2476379
                     France           3813872
                     Germany          3714899
                     United Kingdom   3847646
                     United States    8883522
Youth (<25)          Australia        4026837
                     Canada           1009269
                     France            983467
                     Germany          1150719
                     United Kingdom   1550850
                     United States    3002057